[package]
name = "arcon"
version = "0.1.3"
authors = ["Max Meldrum <mmeldrum@kth.se>"]
edition = "2018"
readme = "README.md"
license = "BSD-3-Clause"
repository = "https://github.com/cda-group/arcon"
homepage = "https://github.com/cda-group/arcon"
description = """
Arcon's execution plane
"""

[features]
default = []
kafka = ["rdkafka", "serde_json", "serde"]
thread_pinning = ["kompact/thread_pinning"]
socket = ["tokio-codec", "tokio", "futures", "serde_json", "serde", "serde"]
arcon_rocksdb = ["rocksdb"]

[dependencies]
arcon_macros = { version = "0.1", path = "arcon_macros" }
arcon_error = { version = "0.1", path = "arcon_error" }
arcon_extra = { version = "0.1", path = "arcon_extra" }
kompact = { git = "https://github.com/Max-Meldrum/kompact.git", branch = "serialiser_trait" }
keyby = "0.2.0"
rand = "0.6.5"
fnv = "1.0.3"
uuid = "0.8"

# Logging
slog = "2.2"
slog-async = "2.3"
slog-term = "2.4"

# Serialisation
abomonation = "0.7.3"
abomonation_derive = "0.5.0"
prost = "0.5"
prost-types = "0.5"
bytes = "0.4"

# Optional
rdkafka = { version = "~0.19", optional = true }
tokio = { version = "0.1", optional = true }
tokio-codec = { version = "0.1", optional = true }
futures = { version = "0.1", optional = true }
serde_json = { version = "1.0.40", optional = true }
serde = { version = "1.0.63", features = ["derive"], optional = true }
rocksdb = { git = "https://github.com/tikv/rust-rocksdb.git", optional = true }

[build-dependencies]
prost-build = "0.5"

[dev-dependencies]
tempfile = "3"
slog = { version = "2.2", features = ["max_level_off"] }
criterion = { version = "0.3", features=['real_blackbox'] }
bincode = "1.1.4"
serde = { version = "1.0.63", features = ["derive"]}
lz4-compression = "0.6.1"

[[bench]]
name = "arcon_benches"
path = "benches/main.rs"
harness = false
