[package]
name = "arcon"
version = "0.1.0"
authors = ["Max Meldrum <mmeldrum@kth.se>"]
edition = "2018"
readme = "README.md"
license = "BSD-3-Clause"
repository = "https://github.com/cda-group/arcon"
homepage = "https://github.com/cda-group/arcon"
description = """
Arcon's execution plane
"""

[dependencies]
arcon_macros = { path = "arcon_macros" , version = "0.1.0" }
arcon_messages = { path = "arcon_messages" }
arcon_backend = { path = "arcon_backend" }
arcon_error = { path = "arcon_error" }
arcon_extra= { path = "arcon_extra" }

weld = "0.3.0"
kompact = "0.7.0"
futures = "0.1"
regex = "1"
keyby = "0.2.0"
rand = "0.6.5"
fnv = "1.0.3"
tokio = "0.1"
tokio-codec = "0.1"
bytes = "0.4"
uuid = "0.7"

# Logging
slog = "2.2"
slog-async = "2.3"
slog-term = "2.4"

# Serialisation
bincode = "1.1.4"
serde = { version = "1.0.63", features = ["derive"] }

[dev-dependencies]
tempfile = "3"
slog = { version = "2.2", features = ["max_level_off"] }
